/**body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
   
    color:white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to bottom left,black 35%,green);
   
}
header{
    text-align: center;
    padding: 80px 20px 30px;
    width: 45%;
    
    border-radius: 5px;
    
}
.logo{
    width: 300px;
margin-bottom: 10px;

}
h1 {
    font-size: 3rem;
    }
    
    
    
  .order{
    position: absolute;
   
  }
.im1{
    position: absolute;
    left: 400px;
}

   .im2{
    position: absolute;
    left: 700px;
    
}
.im3{
    position: absolute;
    left: 1000px;
}
.im4{
    position: absolute;
    left: 1300px;
}**/

